__pycache__/
.ipynb_checkpoints/
test_files/.ipynb_checkpoints/
test_files/POSCAR*
test_files/log*
build/
dist/
interfacemaster.egg-info/
.DS_Store
docs/_build/
test_files/cell_1.cif
test_files/cell_2.cif
test_files/Tutorial_Making bicrystal for a known GB - Si symmetric tilt - using.ipynb
test_files/ignore/
test_files/CNID_inputs/
flask_app/uploads/
flask_app/log.*
