{% extends "base.html" %}
{% block content %}

<h1>Twisted bilayer graphene</h1>

<form method = post enctype = multipart/form-data>
<label for="title" class="form-label">Calculate CSLs for twisted bilayer graphene</label>
<div class="mb-3">
<label for="graphene cif file" class="form-label">graphene CIF file</label>
<input type="file" name="upload_file" class="form-control">
<div id="cifHelp" class="form-text">Only "*.cif" is acceptable. If not specified, default file is used.</div>
</div>
<div class="mb-3">
<label for="lim" class="form-label">lim</label>
<input type="number" name="lim" value="10" class="form-control">
</div>
<div class="mb-3">
<label for="maxsigma" class="form-label">maxsigma</label>
<input type="number" name="maxsigma" value="2500" class="form-control">
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}